@model Trails4Health.Models.Stage

@{
    ViewData["Title"] = "Create";
}



<form asp-action="Create">
    <div class="form-horizontal">
        
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="StageName" class="col-md-2 control-label">Nome etapa:</label>
            <div class="col-md-10">
                <input asp-for="StageName" class="form-control" />
                <span asp-validation-for="StageName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StageStartLoc" class="col-md-2 control-label">Localizacao de inicio de etapa</label>
            <div class="col-md-10">
                <input asp-for="StageStartLoc" class="form-control" />
                <span asp-validation-for="StageStartLoc" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StageEndLoc" class="col-md-2 control-label">Localizacao de fim de etapa</label>
            <div class="col-md-10">
                <input asp-for="StageEndLoc" class="form-control" />
                <span asp-validation-for="StageEndLoc" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsActivated" class="col-md-2 control-label">Ativo</label>
            <div class="col-md-10">                
                    <input asp-for="IsActivated" class="checkbox"/>   
                <span asp-validation-for="IsActivated" class="text-danger"></span>
             </div>
        </div>
        <div class="form-group">
            <label asp-for="Geolocalization" class="col-md-2 control-label">Geolocalizacao</label>
            <div class="col-md-10">
                <input asp-for="Geolocalization" class="form-control" />
                <span asp-validation-for="Geolocalization" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Distance" class="col-md-2 control-label">Distancia</label>
            <div class="col-md-10">
                <input asp-for="Distance" class="form-control" />
                <span asp-validation-for="Distance" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Duration" class="col-md-2 control-label">Duracao</label>
            <div class="col-md-10">
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Criar" class="btn btn-success" /> |
                <a asp-action="Index" class="btn btn-primary">Voltar a Etapas</a>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
