@model Trails4Health.Models.Stage

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutMembersArea.cshtml";
}



<form asp-action="Edit">
    <div class="form-horizontal">       
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="StageId" />
        <div class="form-group">
            <label asp-for="StageName" class="col-md-2 control-label">Nome:</label>
            <div class="col-md-10">
                <input asp-for="StageName" class="form-control" />
                <span asp-validation-for="StageName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StageStartLoc" class="col-md-2 control-label">Localizacao inicio:</label>
            <div class="col-md-10">
                <input asp-for="StageStartLoc" class="form-control" />
                <span asp-validation-for="StageStartLoc" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StageEndLoc" class="col-md-2 control-label">Localizacao fim</label>
            <div class="col-md-10">
                <input asp-for="StageEndLoc" class="form-control" />
                <span asp-validation-for="StageEndLoc" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsActivated" class="col-md-2 control-label">Ativo</label>
            <div class="col-md-10">
                <input asp-for="IsActivated" class="checkbox" />
                <span asp-validation-for="IsActivated" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DifficultyID" class="control-label col-md-2">Dificuldade:</label>
            <div class="col-md-10">   
                <select asp-for="DifficultyID" class="form-control" asp-items="ViewBag.DifficultyID"></select>
                <span asp-validation-for="DifficultyID" class="text-danger"></span>
            </div>            
        </div>
        <div class="form-group">
            <label asp-for="Geolocalization" class="col-md-2 control-label">Geolocalizacao:</label>
            <div class="col-md-10">
                <input asp-for="Geolocalization" class="form-control" />
                <span asp-validation-for="Geolocalization" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Distance" class="col-md-2 control-label">Distancia:</label>
            <div class="col-md-10">
                <input asp-for="Distance" class="form-control" />
                <span asp-validation-for="Distance" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Duration" class="col-md-2 control-label">Duracao:</label>
            <div class="col-md-10">
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-warning" /> |
                <a asp-action="Index" class="btn btn-primary">Voltar a Etapas</a>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
