
@model Trails4Health.Models.Tourist_Trail

@{
    ViewData["Title"] = "Adicionar Informação";
    Layout = "~/Views/Shared/_LayoutMembersArea.cshtml";
}


<br />

<form asp-action="AddInformation">
    <div class="form-horizontal">
        <input type="hidden" asp-for="Tourist_TrailID" />
        <input type="hidden" asp-for="TrailID" />
        <input type="hidden" asp-for="TouristID" />
        <div class="col-md-12">
            <h6 class="titles" style="margin-bottom: 25px;">Preencha os campos de acordo com a sua experiência de realização do trilho</h6>
        </div>
        <div class="form-group">
            <label asp-for="Duration" class="col-md-2 control-label">Duração (min):</label>
            <div class="col-md-10">
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="RealizationDate" class="col-md-2 control-label">Data de Realização:</label>
            <div class="col-md-10">
                <input asp-for="RealizationDate" type="date" class="form-control" value="@Model.RealizationDate.Value.ToString("yyyy-MM-dd")"/>
                <span asp-validation-for="RealizationDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="DifficultyID" class="col-md-2 control-label">Dificuldade:</label>
            <div class="col-md-10">
                <select asp-for="DifficultyID" class="form-control" asp-items="ViewBag.DifficultyID">
                    <option selected="selected">Seleccione a dificuldade</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Observations" class="col-md-2 control-label">Observações:</label>
            <div class="col-md-10 observations">

                <textarea asp-for="Observations" class="form-control" placeholder="Remember, be nice!" cols="30" rows="10"></textarea>
                <span asp-validation-for="Observations" class="text-danger"></span>

            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="CheckHistoric" class="btn btn btn-primary">Voltar</a>
            </div>
        </div>


    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
