@model Trails4Health.Models.ViewModels.ViewModelTrail

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutMembersArea.cshtml";
}


<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label">Nome:</label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Duration" class="col-md-2 control-label">Duracao(Min):</label>
            <div class="col-md-10">
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DistanceToTravel" class="col-md-2 control-label">Distancia(Km):</label>
            <div class="col-md-10">
                <input asp-for="DistanceToTravel" class="form-control" />
                <span asp-validation-for="DistanceToTravel" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StartLoc" class="col-md-2 control-label">Inicio:</label>
            <div class="col-md-10">
                <input asp-for="StartLoc" class="form-control" />
                <span asp-validation-for="StartLoc" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EndLoc" class="col-md-2 control-label">Fim:</label>
            <div class="col-md-10">
                <input asp-for="EndLoc" class="form-control" />
                <span asp-validation-for="EndLoc" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SeasonID" class="col-md-2 control-label">Epoca Aconselhada:</label>
            <div class="col-md-10">
                <select asp-for="SeasonID" class ="form-control" asp-items="ViewBag.SeasonID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SlopeID" class="col-md-2 control-label">Declive:</label>
            <div class="col-md-10">
                <select asp-for="SlopeID" class ="form-control" asp-items="ViewBag.SlopeID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsActivated" class="col-md-2 control-label">Esta Ativo?:</label>
            <div class="col-md-10">
                <input asp-for="IsActivated" class="form-control" />
                <span asp-validation-for="IsActivated" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StatusID" class="col-md-2 control-label">Estado:</label>
            <div class="col-md-10">
                <select asp-for="StatusID" class="form-control" asp-items="ViewBag.StatusID"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Criar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-primary">Voltar ao Gestao de Trilhos</a>
            </div>
        </div>
    </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
