
﻿
body {
    margin: 0;


}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.checkhistory-item {
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
    transition: box-shadow 0.3s ease-in-out;
    display: block;
    margin-top: 25px;
    border-radius: 15px;
    border: 2px solid white;
    background-color: #f6f2e8;
    width: 100%;
    height: 35%;
    min-height: 20%;
}

.table-container {
    margin: 20px;
}

.table-container td img {
    margin-right: 20px;
    width: 250px;
    height: auto;
    min-width: 100px;
}

.checkhistory-item h3, p {
    color: black;
}

.checkhistory-item-top {
    box-shadow: 0 5px 16px rgba(0,0,0,0.3);
    border: 2px solid white;
    background-color: black;
    margin: -7px;
    padding: 5px 10px 5px 15px;
    border-radius: 15px;
}

.checkhistory-item-top p, h5 {
    color:white !important;
}


.checkhistory-item-top button {
    margin-right: 5px;
    max-width: 15px;
}


[type="date"] {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

    [type="date"]::-webkit-inner-spin-button {
        display: none;
    }

    [type="date"]::-webkit-calendar-picker-indicator {
        opacity: 0;
    }


.date-picker input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
}

.members-area {
    margin-top: 95px;
}

.checkhistory-item-top .btn {
    min-width: 45px;
    min-height: 10px;
}


.info-item {
    transition: transform 0.3s ease-in-out;
}

    .info-item:hover {
        transform: scale(1.1);
    }

.historic-information {
    text-align: center;
}

.historic-information p {
    text-align: center;
    margin-top: 15px;
}

.text-align-left{
    text-align: left;
}

.observations input {
    width: 250px;
    height: 100px;
}

