@{
    ViewData["Title"] = "About";
}


<div class="body-container">
    <p>
        Nunc eu nisi urna. Suspendisse aliquet, est quis congue cursus, felis ligula gravida leo, eu tincidunt quam lorem et arcu. Cras eu ultricies ex. Etiam et ipsum ac justo blandit sollicitudin. Duis enim turpis, facilisis quis libero sit amet, lobortis fringilla sapien. Proin bibendum at nunc egestas pulvinar. Nam lobortis a justo et luctus. In tortor urna, porta eu dictum nec, iaculis et velit. In porttitor metus at ligula commodo pretium. Sed a iaculis ex. Integer consectetur interdum ante, a scelerisque dui vehicula sodales. Ut lacinia urna gravida tempus commodo. Praesent vestibulum rhoncus neque vitae posuere. Sed hendrerit lectus non elit volutpat, vel placerat urna faucibus. Nam vel metus elementum, bibendum justo nec, interdum neque.

        Maecenas a justo et est convallis gravida vel eu libero. In non orci interdum, pulvinar tortor in, porttitor quam. Donec non tellus vitae nisi scelerisque consectetur. Vestibulum auctor turpis non augue tincidunt, sed laoreet tellus faucibus. Ut vitae convallis libero. Mauris ultrices ornare neque, vitae sagittis eros feugiat ac. Proin molestie odio volutpat facilisis sollicitudin. Donec tellus leo, ornare sed ligula in, posuere tristique mi. Praesent tempus commodo venenatis. Vivamus in malesuada nunc.
    </p>

    <b style="font-size: 14pt;">Grupo 1</b>
    <p>Rui Paredes - 1011670</p>
    <p>Miguel Brito - 1011695</p>
    <p>Miguel Pereira - 1011607</p>
</div>