@model HistoryListViewModel

@{
    ViewData["Title"] = "Check History";
}

<h2>History Summary</h2>

<div id="checkhistory">
    @foreach (History h in Model.History)
    {
        <div id="checkhistory-item">
            <h3></h3> <!-- ir buscar nome do trilho pelo id-->
            <p>@h.RealizationDate</p>
            <p>@h.TimeTaken</p>
            <p>@h.Observations</p>

            
        </div>

        /*
             public int IdHistory { get; set; }
        public int IdTourist { get; set; }
        public int IdTrail { get; set; }
        public int IdDifficulty { get; set; }
        public int TimeTaken { get; set; }
        public String Observations { get; set; }
        public DateTime RealizationDate { get; set; }*/
    }
</div>