@{
    ViewData["Title"] = "Contacts";
}
<h2>@ViewData["Title"]</h2>

<hr />
<h4>Emails:</h4>
<h5>Rui Paredes : paredesrui16@gmail.com</h5>
<h5>Miguel Brito : miguelbrito11@gmail.com</h5>
<h5>Miguel Pereira : miguelrp13@gmail.com</h5>