@{
    ViewData["Title"] = "Contact";
}
<div class="body-container">
  
    <p>Miguel Brito - miguelfbrito11@gmail.com</p>
    <p>Rui Paredes - paredesrui16@gmail.com</p>
    <p>Miguel Pereira - miguelrp13@gmail.com</p>

</div>
