@model IEnumerable<Trails4Health.Models.Trail>
@{
    ViewData["Title"] = "Home Page";
}


<section id="banner" class="banner">
    <div class="container">
        <div class="row">
            <div class="main_banner_area">
                <div class="col-md-6 col-sm-6">

                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="single_banner_text wow zoomIn" data-wow-duration="1s">
                        <h2>Bem-vindo!</h2>
                        <p style="font-weight:normal; font-size: 16pt;">Aventure-se nos magníficos trilhos da Serra da Estrela.</p>

                    </div>
                </div>


                <!--<div class="scrolldown">
                    <a href="#trilhos" class="scroll_btn"></a>
                </div>-->
            </div>


        </div>
    </div>
</section><!-- End of Banner Section -->



<section id="sobre" class="abouts">
    <div class="container">
        <div class="row">
            <div class="box first">
                <div class="row box-about wow zoomIn" style="animation-duration:0.8s;">
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-md icon-color1"><img src="~/images/icons/hiking.png" style="width:auto; height:55px; padding-top:10px;padding-left:2px;" /></i>
                            <h4>Caminhadas</h4>
                            <p>Desfrute do melhor da natureza, encha os pulmões de ar puro, enquanto delicia os sentidos de forma tão especial a caminhar pelos melhores trilhos da Serra da Estrela.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-md icon-color2"><img src="~/images/icons/photo-camera.png" style="width:auto; height:55px; padding-top:10px;padding-left:2px;" /></i>
                            <h4>Paisagens</h4>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-md icon-color3"><img src="~/images/icons/plant.png" style="width:auto; height:55px; padding-top:10px;padding-left:2px;" /></i>
                            <h4>Biodiversidade</h4>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                        </div>
                    </div><!--/.col-md-4-->

                </div><!--/.row-->
                <div class="row box-about wow zoomIn">
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-md icon-color1"><img src="~/images/icons/hiking.png" style="width:auto; height:55px; padding-top:10px;padding-left:2px;" /></i>
                            <h4>Caminhadas</h4>
                            <p>Desfrute do melhor da natureza, encha os pulmões de ar puro, enquanto delicia os sentidos de forma tão especial </p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-md icon-color2"><img src="~/images/icons/photo-camera.png" style="width:auto; height:55px; padding-top:10px;padding-left:2px;" /></i>
                            <h4>Paisagens</h4>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-md icon-color3"><img src="~/images/icons/plant.png" style="width:auto; height:55px; padding-top:10px;padding-left:2px;" /></i>
                            <h4>Biodiversidade</h4>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                        </div>
                    </div><!--/.col-md-4-->

                </div><!--/.row-->
            </div><!--/.box-->
        </div>
    </div>
</section><!-- End of Abouts Section -->
@*<section id="trilhos" class="features">
        <div class="container">
            <div class="row">
                <div class="container-trilhos">
                    <div class="col-md-4">
                        <div class="trilho wow fadeIn" data-wow-duration="3s">
                            <img src="images/serra.jpg" alt="" />
                            <h3 class="trilhos-text">Trilho Numero 1</h3>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="trilho wow fadeIn" data-wow-duration="3s">
                            <img src="images/serra.jpg" alt="" />
                            <h3 class="trilhos-text">Trilho Numero 2</h3>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="trilho wow fadeIn" data-wow-duration="3s">
                            <img src="images/serra.jpg" alt="" />
                            <h3 class="trilhos-text">Trilho Numero 3</h3>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="container-trilhos">
                    <div class="col-md-4">
                        <div class="trilho wow fadeIn" data-wow-duration="3s">
                            <img src="images/serra.jpg" alt="" />
                            <h3 class="trilhos-text">Trilho Numero 4</h3>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="trilho wow fadeIn" data-wow-duration="3s">
                            <img src="images/serra.jpg" alt="" />
                            <h3 class="trilhos-text">Trilho Numero 5</h3>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="trilho wow fadeIn" data-wow-duration="3s">
                            <img src="images/serra.jpg" alt="" />
                            <h3 class="trilhos-text">Trilho Numero 6</h3>
                        </div>
                    </div>

                </div>
            </div>

            </div>
        </div>
    </section> End of Features Section*@

<section id="trilhos" class="features">
    <div class="container" style="margin-top:-100px;">
        <div class="container-fluid">
            <div class="title-arch">Title<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar ex pulvinar est laoreet ullamcorper.</p></div>
            @foreach (var item in Model)
            {
                if (item.TrailImage != null)
                {

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project wow animated animated4 zoomIn" id="project-@item.TrailID">
                        <div class="project-hover">
                            <h5>@item.Name</h5>

                        


                            <hr />
                            <div style="max-width:100%;">
                                <p style="text-justify: auto; word-break: break-all;">

                                    @{
                                        string stringShort;
                                        string s = item.Description;
                                        if (item.Description != null)
                                        {
                                            stringShort = item.Description;


                                            if(s.Length > 500)
                                            {
                                                stringShort = s.Substring(0, 500);
                                                System.Diagnostics.Debug.WriteLine("STRINGG: " + stringShort);
                                            } else
                                            {
                                                stringShort = s;
                                                s = s + " (...) ";
                                            }
                                        }
                                        else
                                        {
                                            stringShort = "";

                                        }

                                    }
                                  
                                    @stringShort
                                </p>
                            </div>
                            @{
                                var base64 = Convert.ToBase64String(item.TrailImage);
                                var imgSrc = String.Format("{0}data:image/png;base64,{1}{2}", "\"url('", base64, "')\";");
                                System.Diagnostics.Debug.WriteLine(@imgSrc);
                            }

                            <script>document.getElementById("project-@item.TrailID").style.backgroundImage = @Html.Raw(@imgSrc)</script>
                            <a asp-action="TrailInfo" asp-route-id="@item.TrailID"> Detalhes</a>

                        </div>
                    </div>
                                    }
                                }
            <div class="clearfix"></div>
        </div>

    </div>
</section>


<!--

  </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-2 wow animated animated3 fadeInLeft">
                <div class="project-hover">
                    <h2>TITLE</h2>
                    <hr />
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar ex pulvinar est laoreet ullamcorper.</p>
                    <a href="#">See Project</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-3 wow animated animated2 fadeInLeft">
                <div class="project-hover">
                    <h2>TITLE</h2>
                    <hr />
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar ex pulvinar est laoreet ullamcorper.</p>
                    <a href="#">See Project</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-4 wow animated fadeInLeft">
                <div class="project-hover">
                    <h2>TITLE</h2>
                    <hr />
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar ex pulvinar est laoreet ullamcorper.</p>
                    <a href="#">See Project</a>
                </div>
            </div>
            <div class="clearfix"></div>

-->


<section id="contacto" class="works">
    <div class="container">
        <div class="row">
            <h3>Contactos</h3>
            <br />
            <h5>Emails:</h5>
            <p>paredesrui16@gmail.com</p>
            <p>miguelfbrito11@gmail.com</p>
            <p>miguelrp13@gmail.com</p>
        </div><!-- End of container -->
    </div>
</section>




<!-- Video Section -->
<!-- Clients Section -->
<!-- Customize Section -->
<!-- footer Section -->

<footer id="footer" class="footer">
    <div class="container">
        <div class="row wow zoomIn" data-wow-duration="2s">

        </div>
    </div>
</footer>


<!-- STRAT SCROLL TO TOP -->

<div class="scrollup">
    <a href="#"><i class="fa fa-chevron-up"></i></a>
</div>
