
@{
    ViewData["Title"] = "MemberArea";

    Layout = "~/Views/Shared/_LayoutMembersArea.cshtml";
}



            


            <section id="sobre" class="abouts">
                <div class="container">
                    <div class="row">
                    
                    </div>
                </div>
            </section><!-- End of Abouts Section -->



        <footer id="footer" class="footer">
            <div class="container">
                <div class="row wow zoomIn" data-wow-duration="2s">

                </div>
            </div>
        </footer>


        <!-- STRAT SCROLL TO TOP -->

        <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div>
 

