@model Trails4Health.Models.ViewModels.ViewModelTrailInfo


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutMembersArea.cshtml";
}


<div style="margin-top:30px">
    <div class="container">
        <div class="row">
            <div class="coolContainer">
                <h4 style="float:left">@Html.DisplayFor(model => model.trail.Name) </h4>
                @foreach (var status in Model.statustrails)
                {
                    @if (status.EndDate == DateTime.MinValue)
                    {
                        if (status.Status.StatusName == "Aberto")
                        {
                            <h4 style="float:left;color:chartreuse">- @status.Status.StatusName</h4>
                        }
                        else
                        {
                            <h4 style="float:left;color:darkred">- @status.Status.StatusName</h4>

                        }
                    }
                }
            </div>
        </div>
    </div>

    @if (Model.trail.TrailImage != null)
    {
        <div>
            @{
                var base64 = Convert.ToBase64String(Model.trail.TrailImage);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }
        </div>

        <img src="@imgSrc" style="width:500px; height:300px; margin-top:20px" />
    }







</div>