
@{
    ViewData["Title"] = "HistoricInformation";
    Layout = "~/Views/Shared/_LayoutMembersArea.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h5>Serra - Manteigas</h5>
            <br />

            <p style="font-weight: bold; font-size: 14px;">Detalhes do Utilizador</p>
            

            <div class="historic-information">

                <div class="col-md-4">
                    <div class="info-item">
                        <img src="~/images/feedback.png" width="85" height="85" />
                        <p>Agradável</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="info-item">
                        <img src="~/images/time.svg" width="85" height="85" />
                        <p>2h50</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-item">
                        <img src="~/images/difficulty.png" width="85" height="85" />
                        <p>Intermedia</p>
                    </div>
                </div>

                <div class="col-md-12 text-align-left">
                    <p style="font-weight: bold; font-size: 14px; text-align: left;">Observações</p>
                    <p style="text-align: justify;
                              text-justify: inter-word;">Belo passeio no meio da natureza. Requer um pouco de esforço físico, mas faz-se muito bem.</p>
                </div>
                
            </div>
            
            
            <p style="font-weight: bold; font-size: 14px;">Detalhes do Trilho</p>
            <div class="historic-information">

                <div class="col-md-4">
                    <div class="info-item">
                        <img src="~/images/distance.png" width="85" height="85" />
                        <p>10 Km</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="info-item">
                        <img src="~/images/time.svg" width="85" height="85" />
                        <p>2h30</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-item">
                        <img src="~/images/difficulty.png" width="85" height="85" />
                        <p>Intermedia</p>
                    </div>
                </div>
            </div>
            
            <div class="historic-information-stages">
                <p style="font-weight: bold; font-size: 14px;">Etapas do Trilho</p>
                <br />
                <table class="table table-hover" id="dev-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nome</th>
                            <th>Local Inicio</th>
                            <th>Local Fim</th>
                            <th>Distância (km)</th>
                            <th>Duração (min)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Etapa A</td>
                            <td>A</td>
                            <td>B</td>
                            <td>30</td>
                            <td>120</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Etapa B</td>
                            <td>B</td>
                            <td>C</td>
                            <td>15</td>
                            <td>180</td>
                        </tr>

                    </tbody>
                </table>
            </div>




        </div>
    </div>
</div>