
@{
    ViewData["Title"] = "HistoricInformation";
    Layout = "~/Views/Shared/_LayoutMembersArea.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="top">
                <h5>Serra - Manteigas</h5>
                <hr />
            </div>

            <div class="col-md-6">
                <p>Nullam massa sapien, dignissim sed auctor et, scelerisque at felis. Suspendisse at tempus arcu, pellentesque egestas tortor. Etiam eros tellus, elementum vitae dui pretium, tincidunt convallis quam. Integer sollicitudin ornare rhoncus. Curabitur auctor turpis mi, eget dictum nisl hendrerit quis. Curabitur sit amet tellus nec eros finibus vulputate. Mauris placerat condimentum quam non semper. Donec sit amet mattis ipsum.</p>
                <p>Nullam massa sapien, dignissim sed auctor et, scelerisque at felis. Suspendisse at tempus arcu, pellentesque egestas tortor. Etiam eros tellus, elementum vitae dui pretium, tincidunt convallis quam. Integer sollicitudin ornare rhoncus. Curabitur auctor turpis mi, eget dictum nisl hendrerit quis. Curabitur sit amet tellus nec eros finibus vulputate. Mauris placerat condimentum quam non semper. Donec sit amet mattis ipsum.</p>
            </div>

            <div class="col-md-6">
                <img src="~/images/serra.jpg" style="width:450px; height: auto;" />
            </div>

            <div class="col-md-4">
                <p>Nullam massa sapien, dignissim sed auctor et, scelerisque at felis. Suspendisse at tempus arcu, pellentesque egestas tortor. Etiam eros tellus, elementum vitae dui pretium, tincidunt convallis quam. Integer sollicitudin ornare rhoncus. Curabitur auctor turpis mi, eget dictum nisl hendrerit quis. Curabitur sit amet tellus nec eros finibus vulputate. Mauris placerat condimentum quam non semper. Donec sit amet mattis ipsum.</p>
            </div>

            <div class="col-md-4">
                <p>Nullam massa sapien, dignissim sed auctor et, scelerisque at felis. Suspendisse at tempus arcu, pellentesque egestas tortor. Etiam eros tellus, elementum vitae dui pretium, tincidunt convallis quam. Integer sollicitudin ornare rhoncus. Curabitur auctor turpis mi, eget dictum nisl hendrerit quis. Curabitur sit amet tellus nec eros finibus vulputate. Mauris placerat condimentum quam non semper. Donec sit amet mattis ipsum.</p>
            </div>

            <div class="col-md-4">
                <p>Nullam massa sapien, dignissim sed auctor et, scelerisque at felis. Suspendisse at tempus arcu, pellentesque egestas tortor. Etiam eros tellus, elementum vitae dui pretium, tincidunt convallis quam. Integer sollicitudin ornare rhoncus. Curabitur auctor turpis mi, eget dictum nisl hendrerit quis. Curabitur sit amet tellus nec eros finibus vulputate. Mauris placerat condimentum quam non semper. Donec sit amet mattis ipsum.</p>
            </div>
        </div>
    </div>
