
@model Trails4Health.Models.Historic

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutMembersArea.cshtml";
}


<br />


<form asp-action="Create">
    <div class="form-horizontal">

<!-- TODO: passar data para um date picker-->     

        <!--
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group ">
            <div class="col-md-4 date-picker">
                <label asp-for="RealizationDate" class="col-md-2 control-label">Data</label>

                <div class="col-md-4">
                    <input type="date" name="dateofbirth" id="dateofbirth">
                </div>
            </div>
        </div>
            -->





        <div class="form-group">
            <label asp-for="TimeTaken" class="col-md-2 control-label">Duracao:</label>
            <div class="col-md-10">
                <input asp-for="TimeTaken" class="form-control" />
                <span asp-validation-for="TimeTaken" class="text-danger"></span>
            </div>
        </div>
       
        <div class="form-group">
            <label asp-for="RealizationDate" class="col-md-2 control-label">Data:</label>
            <div class="col-md-10">
                <input asp-for="RealizationDate" class="form-control" />
                <span asp-validation-for="RealizationDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Observations" class="col-md-2 control-label">Observacoes:</label>
            <div class="col-md-10 observations">
             <!--   <input asp-for="Observations" class="form-control" />-->
                <textarea asp-for"Observations" class="form-control" placeholder="Remember, be nice!" cols="30" rows="10"></textarea>
                <span asp-validation-for="Observations" class="text-danger"></span>

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="CheckHistoric" class="btn btn btn-primary">Voltar</a>
            </div>
        </div>


    </div>
</form>


