@model Trails4Health.Models.Historic

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutMembersArea.cshtml";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Historic</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="TimeTaken" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TimeTaken" class="form-control" />
                <span asp-validation-for="TimeTaken" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Observations" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Observations" class="form-control" />
                <span asp-validation-for="Observations" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RealizationDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RealizationDate" class="form-control" />
                <span asp-validation-for="RealizationDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TrailID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TrailID" class ="form-control" asp-items="ViewBag.TrailID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TouristID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TouristID" class ="form-control" asp-items="ViewBag.TouristID"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

