@model Trails4Health.Models.Tourist

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutMembersArea.cshtml";
}


<form asp-action="EditProfile">
    <div class="form-horizontal">
        <h4>Editar Perfil</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="TouristID" />
        <div class="form-group">
            <label asp-for="Phone" class="col-md-2 control-label">Telemóvel:</label>
            <div class="col-md-10">
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CC" class="col-md-2 control-label">Cartão Cidadão/BI:</label>
            <div class="col-md-10">
                <input asp-for="CC" class="form-control" />
                <span asp-validation-for="CC" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateOfBirth" class="col-md-2 control-label">Data:</label>
            <div class="col-md-10">
                <input asp-for="DateOfBirth" type="date" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
        </div>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Alterar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Cancelar</a>
            </div>
        </div>
    </div>
</form>

<div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
