
@{
    ViewData["Title"] = "MemberArea";

    Layout = "~/Views/Shared/_LayoutMembersArea.cshtml";
}


<!--manage-->

<section id="sobre" class="abouts">
    <div class="container">
   @*    <div class="col-lg-2">
        <img src="~/images/no_image.jpg" width="155" height="155" />
    </div>
*@ 
@*

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" style="height: 100px;">
            <img src="~/images/icons/padlock.png" style="height: 55px; width: auto; margin-bottom: 15px;" />
            <br>
            <span class="text-uppercase hidden-sm-down">Alterar Password</span>
        </button>
    </div>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" style="height: 100px;">
            <img src="~/images/icons/edit.png" style="height: 55px; width: auto; margin-bottom: 15px;" />
            <br>
            <span class="text-uppercase hidden-sm-down" >Alterar Dados Pessoais</span>
        </button>
    </div>
*@
        <div class="col-lg-10">
            <dl class="dl-horizontal" style="margin-top:25px;">
                <dt>Password:</dt>
                <dd>
                    @if (Model.HasPassword)
            {
                        <a asp-controller="Account" asp-action="ChangePassword" class="btn-bracketed">Alterar</a>
                    }
                    else
                    {
                        <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Criar</a>
                    }
                </dd>
                <dt>External Logins:</dt>
                <dd>

                    @Model.Logins.Count <a asp-controller="Manage" asp-action="ManageLogins" class="btn-bracketed">Manage</a>
                </dd>
                <!--  <dt>Phone Number:</dt>
                <dd>
                      <p>
                          Phone Numbers can be used as a second factor of verification in two-factor authentication.
                          See <a href="https://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                          for details on setting up this ASP.NET application to support two-factor authentication using SMS.
                      </p>
                      @*@(Model.PhoneNumber ?? "None")
                          @if (Model.PhoneNumber != null)
                          {
                              <br />
                              <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Change</a>
                              <form asp-controller="Manage" asp-action="RemovePhoneNumber" method="post">
                                  [<button type="submit" class="btn-link">Remove</button>]
                              </form>
                          }
                          else
                          {
                              <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Add</a>
                          }*@
                  </dd>

                  <dt>Two-Factor Authentication:</dt>
                  <dd>
                      <p>
                          There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                          for setting up this application to support two-factor authentication.
                      </p>
                      @*@if (Model.TwoFactor)
                          {
                              <form asp-controller="Manage" asp-action="DisableTwoFactorAuthentication" method="post" class="form-horizontal">
                                  Enabled <button type="submit" class="btn-link btn-bracketed">Disable</button>
                              </form>
                          }
                          else
                          {
                              <form asp-controller="Manage" asp-action="EnableTwoFactorAuthentication" method="post" class="form-horizontal">
                                  <button type="submit" class="btn-link btn-bracketed">Enable</button> Disabled
                              </form>
                          }*@
                  </dd>-->
                <dt>Dados Pessoais:</dt>
                <dd><a asp-controller="Account" asp-action="EditProfile" class="btn-bracketed">Editar Perfil</a></dd>

            </dl>
        </div>
    </div>
</section><!-- End of Abouts Section -->



<footer id="footer" class="footer">
    <div class="container">
        <div class="row wow zoomIn" data-wow-duration="2s">

        </div>
    </div>
</footer>


<!-- STRAT SCROLL TO TOP -->

<div class="scrollup">
    <a href="#"><i class="fa fa-chevron-up"></i></a>
</div>


